
  <footer class="footer pt-5 mt-5">
    <div class="container">
      <div class=" row">
        <div class="col-md-3 mb-4 mx-auto">
          <div>
            
            <h6 class="font-weight-bolder mb-4 text-center">My personal links</h6>
          </div>
          <div>
            <ul class="d-flex flex-row ms-n3 nav justify-content-center">
              <li class="nav-item">
                <a class="nav-link pe-1" href="https://www.instagram.com/lebwa.cnc/" target="_blank">
                  <i class="fab fa-instagram text-lg opacity-8"></i>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link pe-1" href="https://discordapp.com/users/260825495489216513" target="_blank">
                  <i class="fab fa-discord text-lg opacity-8"></i>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link pe-1" href="https://t.me/RoflanChechik" target="_blank">
                  <i class="fab fa-telegram text-lg opacity-8"></i>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link pe-1" href="https://github.com/Lebwa1337" target="_blank">
                  <i class="fab fa-github text-lg opacity-8"></i>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link pe-1" href="https://www.youtube.com/channel/UCvH23t61hTjCO4Yg7h_xgvg" target="_blank">
                  <i class="fab fa-youtube text-lg opacity-8"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        
        <div class="col-12">
          <div class="text-center">
            <p class="text-dark my-4 text-sm font-weight-normal">
              &copy; Coded by <a href="https://github.com/Lebwa1337" class="font-weight-bold" target="_blank">LeBwa</a>.
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  