{% extends "layouts/base.html" %}
{% block content %}
  {% include 'includes/navigation.html' %}
  <section class="intro">
    <div class="bg-image h-100"
         style="background-image: url('https://mdbootstrap.com/img/Photos/new-templates/tables/img2.jpg');">
      <div class="mask d-flex align-items-center h-100" style="background-color: rgba(0,0,0,.25);">
        <div class="container">
          <div class="row justify-content-center">
            <a href="{% url "catalog:album-create" %}"><h3>Create</h3></a>
            <div class="col-12">
              <div class="card bg-dark shadow-2-strong">
                <div class="card-body">
                  <div class="table-responsive">
                    {% if track_list %}
                      <table class="table table-borderless text-white mb-0">
                        <thead>
                        <tr>
                          <th scope="col">Title</th>
                          <th scope="col">Author</th>
                          <th scope="col">Duration</th>
                          <th scope="col">Genre</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for track in track_list %}
                          <tr>
                            <th scope="row"><a
                                href="{% url 'catalog:track-detail' pk=track.id %}">{{ track.name }}</a></th>
                            <th scope="row">{{ track.author }}</th>
                            <th scope="row">{{ track.duration }}</th>
                            <th scope="row">
                              {{ track.genre }}
                            </th>
                          </tr>
                        {% endfor %}
                        </tbody>
                      </table>
                    {% else %}
                      <p style="text-align: center">There is no tracks available</p>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

