{% extends "layouts/base.html" %}
{% block content %}
  {% include 'includes/navigation.html' %}
  <section class="intro">
    <div class="bg-image h-100 page-header"
         style="background-image: url('{{ ASSETS_ROOT }}/img/turntable.webp');">
      <div class="mask d-flex align-items-center h-100" style="background-color: rgba(0,0,0,.25);">
        <div class="container">
          <a href="{% url "catalog:track-create" %}" class="btn btn-outline-primary btn-close-white btn-secondary"
             style="color: #4a4a4a">
            <h6>Create</h6></a>
          <div class="row justify-content-center">
                <form action="" method="get" class="form-inline">
                  <div class="d-inline-block form-group">
                    {{ search_form }}
                  </div>
                  <input type="submit" value="🔍" class="btn btn-secondary">
                </form>
            <div class="col-12">
              <div class="card bg-dark shadow-2-strong">
                <div class="card-body">
                  <div class="table-responsive">
                    {% if track_list %}
                      <table class="table table-borderless text-white mb-0">
                        <thead>
                        <tr>
                          <th scope="col">Title</th>
                          <th scope="col">Author</th>
                          <th scope="col">Duration</th>
                          <th scope="col">Genre</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for track in track_list %}
                          <tr>
                            <th scope="row"><a
                                href="{% url 'catalog:track-detail' pk=track.id %}">{{ track.name }}</a></th>
                            <th scope="row">{{ track.author }}</th>
                            <th scope="row">{{ track.duration }}</th>
                            <th scope="row">
                                {{ track.genre.all.first }}
                                </th>
                          </tr>
                        {% endfor %}
                        </tbody>
                      </table>
                    {% else %}
                      <p style="text-align: center">There is no tracks available</p>
                    {% endif %}
                  </div>
                </div>
              </div>
              {% include "includes/pagination.html" %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
